*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    width: 1579px;
    height: 4192px;
    font-family: 'Poppins', sans-serif;
}
header,
main, footer{
    max-width: 100%;
    min-width: 0%;
}


/* header */
header{
    position: absolute;
    width: 1370px;
    height: 698px;
    left: 0px;
    top: 0px;
    
}
.bg-header{
    position: absolute;
    width: 1188px;
    height: 649px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #EE5514 1.14%, rgba(238, 85, 20, 0) 133.88%);
    opacity: 0.1;
}
.logo{
    position: absolute;
    width: 94px;
    height: 44px;
    left: 230px;
    top: 47px;
}
.nav-menu{
    position: absolute;
    width: 331px;
    height: 26px;
    left: 425px;
    top: 56px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-menu>li>a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.nav-menu>li>a:hover{
    transition: 0.3s;
    font-weight: 500;
    color: #EE5514;
}
.header-buy-btn{
    position: absolute;
    width: 137px;
    height: 59px;
    left: 1233px;
    top: 40px;
    background: #EE5514;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    cursor: pointer;
}
.header-buy-btn:hover{
    transition: 0.7s;
    background: green;
    border-radius: 25%;
}
h1{
    position: absolute;
    width: 366px;
    height: 216px;
    left: 230px;
    top: 205px;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 61px;
    line-height: 120%;
    color: #1A0A03;
}
h1>span{
    color: #EE5514;
}
.header-subtitle{
    position: absolute;
    width: 326px;
    height: 52px;
    left: 230px;
    top: 441px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.header-shoes{
    position: absolute;
    width: 598px;
    height: 400px;
    left: 745px;
    top: 131px;
}
.frame-header-shoes{
    position: absolute;
    width: 394px;
    height: 400px;
    left: 867px;
    top: 131px;
    opacity: 0.4;
    border: 11px solid #EE5514;
    z-index: -1;
}
.shadow-header-shoes{
    position: absolute;
    width: 389px;
    height: 89px;
    left: 872px;
    top: 434px;
    background: rgba(0, 0, 0, 0.3);
    filter: blur(20px);
}

/* header-about-shoes */
.header-about-shoes{
    position: absolute;
    width: 792px;
    height: 125px;
    left: 230px;
    top: 573px;
    background: #FFFFFF;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    border-radius: 5px;
}

/* common styles (header-about-shoes-blocks) */
.header-about-shoes-block-1, .header-about-shoes-block-2,
.header-about-shoes-block-3, .header-about-shoes-block-4{
    position: absolute;
    width: 76px;
    height: 65px;
    left: 55px;
    top: 30px;
}
.header-about-shoes-block-2{
    left: 211px;
}
.header-about-shoes-block-3{
    left: 356px;
}
.header-about-shoes-block-4{
    left: 506px;
}
.header-about-shoes-blocks-title{
    position: absolute;
    width: 54px;
    height: 26px;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.header-about-shoes-blocks-text{
    position: absolute;
    width: 48px;
    height: 29px;
    left: 0;
    top: 36px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
}
.header-about-shoes-blocks-arrow{
    position: absolute;
    width: 12px;
    height: 6px;
    left: 64px;
    top: 49px;
    cursor: pointer;
}
.header-about-shoes-line-1,
.header-about-shoes-line-2, .header-about-shoes-line-3{
    position: absolute;
    width: 42px;
    height: 0px;
    left: 150px;
    top: 60px;
    border: 1px solid #EE5514;
    transform: rotate(90deg);
}
.header-about-shoes-line-2{
    left: 300px;
}
.header-about-shoes-line-3{
    left: 450px;
}
.header-about-shoes-btn{
    position: absolute;
    width: 128px;
    height: 56px;
    left: 610px;
    top: 35px;
    background: #EE5514;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    cursor: pointer;
}
.header-about-shoes-btn:hover{
    transition: 0.7s;
    background: green;
    border-radius: 25%;
}



/* main */
main{
    position: absolute;
    width: 100%;
    height: 3050px;
    left: 0;
    top: 700px;
}


/* video */
.video{
    position: absolute;
    width: 1190px;
    height: 380px;
    left: 230px;
    top: 140px;
}
.video>h3{
    position: absolute;
    width: 65px;
    height: 30px;
    left: 0;
    top: 64px;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #EE5514;
}
.video>h2{
    position: absolute;
    width: 340px;
    height: 114px;
    left: 0;
    top: 104px;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    color: #1A0A03;
}
.video>p{
    position: absolute;
    width: 326px;
    height: 78px;
    left: 0;
    top: 238px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.video>video{
    position: absolute;
    width: 555px;
    height: 326px;
    left: 585px;
    top: 54px;
    border-radius: 10px;
}



/* feature */
.feature{
    position: absolute;
    width: 1140px;
    height: 580px;
    left: 230px;
    top: 660px;
}
.feature>h3{
    position: absolute;
    width: 94px;
    height: 30px;
    left: 522px;
    top: 0;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #EE5514;
}
.feature>h2{
    position: absolute;
    width: 588px;
    height: 57px;
    left: 272px;
    top: 40px;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    color: #1A0A03;
}

/* common style (feature-blocks) */
.feature-block-1,
.feature-block-2, .feature-block-3{
    position: absolute;
    width: 360px;
    height: 423px;
    left: 0;
    top: 157px;
    background: #FFFFFF;
    box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
    border-radius: 10px
}
.feature-block-1:hover,
.feature-block-2:hover, .feature-block-3:hover{
    transition: 0.7s;
    background: #ffc5ad;
}
.feature-block-2{
    left: 390px;
}
.feature-block-3{
    left: 780px;
}
.feature-blocks-icon{
    position: absolute;
    width: 71.69px;
    height: 68.72px;
    left: 144.31px;
    top: 97.37px;
}
.feature-blocks-title{
    position: absolute;
    width: 129px;
    height: 33px;
    left: 143px;
    top: 234px;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #1A0A03;
}
.feature-blocks-text{
    position: absolute;
    width: 239px;
    height: 44px;
    left: 60px;
    top: 277px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.feature-blocks-link{
    position: absolute;
    width: 90px;
    height: 26px;
    left: 127px;
    top: 341px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #EE5514;
    text-decoration: none;
}
.feature-blocks-link:hover{
    text-decoration: underline 3px solid green;
}
.feature-blocks-arrow{
    position: absolute;
    left: 227px;
    top: 349px;
}
.feature-block-3>.feature-blocks-title{
    left: 115px;
}



/* gallary */
.gallary{
    position: absolute;
    width: 1140px;
    height: 575px;
    left: 230px;
    top: 1380px;
}
.gallary-subtitle{
    position: absolute;
    width: 94px;
    height: 30px;
    left: 0;
    top: 0;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #EE5514;
}
.gallary-title{
    position: absolute;
    width: 498px;
    height: 57px;
    left: 0;
    top: 43px;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    color: #1A0A03;
}
.gallary-open-list{
    position: absolute;
    width: 125px;
    height: 28px;
    left: 0;
    top: 116px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #1A0A03;
    opacity: 0.7;
}
.gallary-list{
    position: absolute;
    width: 302px;
    height: 25px;
    left: 160px;
    top: 118px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.gallary-list>li>a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #1A0A03;
    opacity: 0.7;
}
.gallary-list>li>a:hover{
    transition: 0.3s;
    color: #EE5514;
    text-decoration: underline;
}

/* common styles (gallary-blocks) */
.gallary-block-1, .gallary-block-2,
.gallary-block-3, .gallary-block-4{
    position: absolute;
    width: 263px;
    height: 371px;
    left: 0;
    top: 204px;
}
.gallary-block-2{
    left: 293px;
}
.gallary-block-3{
    left: 585px;
}
.gallary-block-4{
    left: 878px;
}
.gallary-blocks-photo{
    position: absolute;
    width: 263px;
    height: 170px;
    left: -30px;
    top: 0;
}
.gallary-blocks-title{
    position: absolute;
    width: 160px;
    height: 33px;
    left: 0;
    top: 200px;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #1A0A03;
}
.gallary-blocks-size{
    position: absolute;
    width: 34px;
    height: 26px;
    left: 0;
    top: 243px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.gallary-blocks-size-text{
    position: absolute;
    width: 85px;
    height: 26px;
    left: 44px;
    top: 243px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.8;
}
.gallary-blocks-price{
    position: absolute;
    width: 43px;
    height: 26px;
    left: 0;
    top: 279px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.gallary-blocks-price-text{
    position: absolute;
    width: 41px;
    height: 26px;
    left: 47px;
    top: 279px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.8;
}
.gallary-blocks-btn{
    position: absolute;
    width: 128px;
    height: 56px;
    left: 0;
    top: 315px;
    background: #EE5514;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    cursor: pointer;
}
.gallary-blocks-btn:hover{
    transition: 0.7s;
    background: green;
    border-radius: 25%;
}



/* testimonials */
.testimonials{
    position: absolute;
    width: 1140px;
    height: 481px;
    left: 230px;
    top: 2095px;
}
.testimonials-title{
    position: absolute;
    width: 256px;
    height: 57px;
    left: 442px;
    top: 0;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    color: #1A0A03;
}
.testimonials-left-side{
    position: absolute;
    width: 555px;
    height: 364px;
    left: 0px;
    top: 117px;
}
.testimonials-avatar{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 682px;
    top: 124px;
}
.testimonials-q{
    position: absolute;
    width: 36.38px;
    height: 30.39px;
    left: 682px;
    top: 254px;
}
.testimonials-q-title-1{
    position: absolute;
    width: 358px;
    height: 33px;
    left: 682px;
    top: 294.39px;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #1A0A03;
}
.testimonials-q-text-1{
    position: absolute;
    width: 390px;
    height: 44px;
    left: 682px;
    top: 343px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.testimonials-q-title-2{
    position: absolute;
    width: 181px;
    height: 29px;
    left: 682px;
    top: 412.39px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
}
.testimonials-q-text-2{
    position: absolute;
    width: 53px;
    height: 22px;
    left: 682px;
    top: 451px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.8;
}




/* mailing-list */
.mailing-list{
    position: absolute;
    width: 1140px;
    height: 334px;
    left: 230px;
    top: 2716px;
}
.mailing-list-bg{
    position: absolute;
    width: 652px;
    height: 334px;
    left: 488px;
    top: 0px;
    background: #81A8DA;
    opacity: 0.1;
    border-radius: 0px 10px 10px 0px;
}
.mailing-list>img{
    position: absolute;
    top: -30px;
}
.mailing-list-right-side{
    position: absolute;
    width: 526px;
    height: 208px;
    left: 551px;
    top: 63px;
}
.mailing-list-right-side-title{
    position: absolute;
    width: 358px;
    height: 43px;
    left: 0;
    top: 0;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-size: 31px;
    line-height: 140%;
    color: #1A0A03;
}
.mailing-list-right-side-text{
    position: absolute;
    width: 525px;
    height: 54px;
    left: 0;
    top: 63px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.mailing-list-right-side-email{
    position: absolute;
    width: 526px;
    height: 51px;
    left: 0;
    top: 157px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 30px;
    background: none;
}
.mailing-list-right-side-btn{
    position: absolute;
    width: 117px;
    height: 51px;
    left: 409px;
    top: 157px;
    background: #EE5514;
    border-radius: 0px 5px 5px 0px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    cursor: pointer;
}
.mailing-list-right-side-btn:hover{
    transition: 0.7s;
    background: green;
}




/* footer */
footer{
    position: absolute;
    width: 100%;
    height: 441px;
    left: 0px;
    top: 3748px;
}
.footer-bg{
    position: absolute;
    width: 100%;
    height: 441px;
    left: 0px;
    top: 0;
    background: #EE5514;
    opacity: 0.04;
}
.footer-content{
    position: absolute;
    width: 1141px;
    height: 311px;
    left: 230px;
    top: 100px;
}
.footer-logo{
    position: absolute;
    width: 94px;
    height: 44px;
    left: 0;
    top: 0;
}
.footer-place{
    position: absolute;
    width: 203px;
    height: 58px;
    left: 3px;
    top: 67px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.footer-email{
    position: absolute;
    width: 265px;
    height: 29px;
    left: 0;
    top: 145px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    text-decoration: none;
}
.footer-email:hover{
    text-decoration: underline 3px solid;
}
.footer-social-list{
    position: absolute;
    width: 155px;
    height: 20px;
    left: 0;
    top: 184px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer-our-service-title{
    position: absolute;
    width: 111px;
    height: 29px;
    left: 342px;
    top: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
}
.footer-our-service-list{
    position: absolute;
    width: 80px;
    height: 75px;
    left: 342px;
    top: 57px;
    list-style: none;
}
.footer-our-service-list>li>a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.footer-our-service-list>li>a:hover{
    transition: 0.3s;
    color: #81A8DA;
}
.footer-our-service-list>li{
    margin-top: 10px;
}
.footer-support-title{
    position: absolute;
    width: 72px;
    height: 29px;
    left: 530px;
    top: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
}
.footer-support-list{
    position: absolute;
    width: 167px;
    height: 75px;
    left: 530px;
    top: 57px;
    list-style: none;
}
.footer-support-list>li>a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.footer-support-list>li>a:hover{
    transition: 0.3s;
    color: #81A8DA;
}
.footer-support-list>li{
    margin-top: 10px;
}
.footer-contact-title{
    position: absolute;
    width: 99px;
    height: 29px;
    left: 821px;
    top: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
}
.footer-contact-text{
    position: absolute;
    width: 247px;
    height: 58px;
    left: 821px;
    top: 57px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.footer-form-email{
    position: absolute;
    width: 319px;
    height: 52px;
    left: 821px;
    top: 156px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-left: 20px;
    background: none;
}
.footer-form-btn{
    position: absolute;
    width: 96px;
    height: 52px;
    left: 1045px;
    top: 156px;
    background: #EE5514;
    border-radius: 0px 5px 5px 0px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
}
.footer-form-btn:hover{
    transition: 0.7s;
    background: green;
}
.footer-line{
    position: absolute;
    width: 1140px;
    height: 0px;
    left: 0;
    top: 255px;
    opacity: 0.2;
    border: 1px solid #A6A4A4;
}
.footer-end{
    position: absolute;
    width: 370px;
    height: 26px;
    left: 389px;
    top: 285px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #1A0A03;
    opacity: 0.7;
}